.html{
    margin: 0rem;
    padding: 0rem;
}


body{
    display: flex;
    flex-direction: column;
    background-color: #f8f9fa;
    justify-content: center;
    width: 100vw;
    align-items: center;
}

main{
    width: 100vw;
    background-color:white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title{
    width: 100%;
    background-color: #ade8f4;
    justify-content: center;
    display: flex;
    align-items: center;
}

img{
    margin-left: 100px;
    width: 100px;
    height: 100px;
}

h1{
    font-size: xx-large;
}

thead{
    background-color: #cad2c5;
}

thead th{
    height: 4rem;
    font-size: medium;
    text-align: center;
    width: 4.5rem;
    border: 0 solid transparent;
    border-bottom: 1px solid black;
}

tbody{
    text-align: right;
    
}

tbody tr:nth-child(odd) th, tbody tr:nth-child(odd) td{
    background-color: #fdfffc;
    border: 0 solid transparent;
    height: 2rem;
}

tbody tr:nth-child(even) th, tbody tr:nth-child(even) td{
    background-color: #cad2c5;
    border: 0 solid transparent;
    height: 2rem;
}